* {
  margin: 0;
  padding: 0;
}
:root {
  --moss-green-800: #4e6137;
  --davy-gray-300: #d1d5db;
  --davy-gray-600: #4b5563;
  --davy-gray-900: #111827;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: var(--davy-gray-900);
}

a,
a:visited,
a:hover {
  color: var(--davy-gray-900);
  text-decoration: none;
}

button {
  padding: 1rem 2rem; 
  border: none;
  outline: none;
}

.navbar {
  display: flex;
  justify-content: center;
}

.wrapper {
  max-width: 127rem;
  width: 86.67%;
  margin: 0 auto;
}

.navbar .nav-link {
  font-weight: 600;
  font-size: 2rem;
  padding: 1.5rem 1rem;
  color: var(--davy-gray-600);
}

.navbar-container {
  border-bottom: 1px solid var(--davy-gray-300);
}

.nav-link.active {
  color: var(--night);
  border-bottom: 2px solid var(--moss-green-800);
}

@media screen and (max-width: 43.74em) {
  body {
    font-size: 1.4rem;
  }
  .navbar .nav-link {
    font-size: 1.6rem;
  }
}
